//- TODO figure out how to import mixins
mixin form-errors(errors, property)
  ol.form-errors
    each error in errors
      if error && error.property === property
        li.form-error #{error.msg}

include layout
  h1 Sign Up
  p
    span Already have an account?
    a(href="/signin?"+query) Click here to sign in

  form(method="post", action="/signup")
    input(type="hidden" name="goto" value=goto)
      
    ol
      each error in errors
        li= JSON.stringify(error)

    fieldset.form-group
      label(for="user-name") Name
      input.form-control(type="text", name="user[name]" id="user-name" value=user.name)
      +form-errors(errors, "name")

    fieldset.form-group
      label(for="user-email") Email Address
      input.form-control(type="text", name="user[email]" id="user-email" value=user.email)
      small.text-muted We'll never share your email with anyone else.
      +form-errors(errors, "email")

    fieldset.form-group
      label(for="user-password") Password
      input.form-control(type="password", name="user[password]" id="user-password")
      +form-errors(errors, "password")

    fieldset.form-group
      label(for="user-passwordConfirmation") Password Confirmation
      input.form-control(type="password", name="user[passwordConfirmation]" id="user-passwordConfirmation")
      +form-errors(errors, "passwordConfirmation")

    button.btn.btn-primary(type="submit") Signup
