include ../layout
  h1 are you sure?
  h2 #{fund.name}
  div
    span cycleStartDate:
    span
    span #{fund.cycleStartDate}
  div
    span paymentCycleLength:
    span
    span #{fund.paymentCycleLength}
  div
    span paymentAmount:
    span
    span #{fund.paymentAmount}

  form(method="post" action="/funds")
    input(type="hidden" name="fund[name]" value=fund.name)
    input(type="hidden" name="fund[paymentCycleLength]" value=fund.paymentCycleLength)
    input(type="hidden" name="fund[paymentAmount]" value=fund.paymentAmount)
    input(type="hidden" name="fund[cycleStartDate]" value=fund.cycleStartDate)

    button.btn(type="submit" name="action" value="edit") Edit
    button.btn.btn-primary(type="submit" name="action" value="create") Create
