include ../layout
  h1 are you sure?
  h2 #{fund.name}
  div
    h4 Cycle Start Date:
    div #{fund.cycleStartDate}
  div
    h4 Payment Cycle Length:
    div #{fund.paymentCycleLength}
  div
    h4 Payment Amount:
    div $#{(parseFloat(fund.paymentAmount, 10)/100).toFixed(2)}


  div
    h4 Invites:
    each invite, index in fund.invites
      div
        strong name: &nbsp;
        span #{JSON.stringify(fund.invites[index].name)}
        span &nbsp;
        strong email: &nbsp;
        span #{JSON.stringify(fund.invites[index].email)}

  form(method="post" action="/funds")
    input(type="hidden" name="fund[name]" value=fund.name)
    input(type="hidden" name="fund[paymentCycleLength]" value=fund.paymentCycleLength)
    input(type="hidden" name="fund[paymentAmount]" value=fund.paymentAmount)
    input(type="hidden" name="fund[cycleStartDate]" value=fund.cycleStartDate)

    each invite, index in fund.invites
      input(type="hidden" name="fund[invites]["+index+"][name]" value=fund.invites[index].name)
      input(type="hidden" name="fund[invites]["+index+"][email]" value=fund.invites[index].email)

    button.btn(type="submit" name="action" value="edit") Edit
    button.btn.btn-primary(type="submit" name="action" value="create") Create
    //- Would the button need to be connected to a function in the Database
