include ../layout
  h2.span #{fund.name}
  div
    h4.span cycleStartDate:
    div.span #{fund.cycleStartDate}
  div
    h4.span paymentCycleLength:
    div.span #{fund.paymentCycleLength}
  div
    h4.span paymentAmount:
    div.span #{fund.paymentAmount}
  div
    h4.span Invites:
    each invite in fund.invites
      div.span
        strong name: &nbsp;
        span #{JSON.stringify(invite.name)}
        span &nbsp;
        strong email: &nbsp;
        span #{JSON.stringify(invite.email)}
  div
    h4.span Memberships:
    each member in fund.memberships
      div
        div.span #{JSON.stringify(member)}
        
